@import "tailwindcss";
 body {
   font-family: Arial, sans-serif;
   background: #0f0f0f;
   color: #fff;
   padding: 30px;
 }

 h1 {
   text-align: center;
   margin-bottom: 20px;
 }

 select {
   padding: 10px;
   margin-bottom: 30px;
   font-size: 16px;
 }

 .cars {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 20px;
 }

 .card {
   background: #1a1a1a;
   border-radius: 10px;
   padding: 15px;
   transition: 0.3s;
 }

 .card:hover {
   transform: translateY(-5px);
   box-shadow: 0 10px 25px rgba(245, 56, 56, 0.4);
 }

 img {
   width: 100%;
   height: 160px;
   object-fit: cover;
   border-radius: 8px;
 }

 h3 {
   margin: 10px 0 5px;
 }

 .price {
   color: #f53838;
   font-weight: bold;
 }